/* Backgrounds */
.color-scheme {background: rgba(24,154,34,0.7);}
.caption,
.feed-box,
.chart-title,
.cat-box.active,
.img-inner-wrap,
.white-box-input,
.write-post-text,
.recognition-wrap,
.linked .image-link,
.linked .image-title,
.opened .catalog-title,
.custom-checkbox .switcher,
.login-icons .t-icon_link_fb,
.notification-wrap .user-posted {background: #fff;}
.notification-wrap .user-posted.latest {background: #ebfceb;}
.header,
.statusbar {background: #50b052;}
/*.no-results,*/
.content-wrapper,
.no-result-wrap {background: #eaeaea;}
.catalog-title {background: #309737;}
.popup-block,
.popup-message,
.toast-message,
.lightbox-wrap {background: rgba(0,0,0,0.5);}
.light-btn,
.white-box,
.footer-menu,
.profile-header,
.ranking-header {background: #fafafa;}
.post-box .you-gave {background: #1572b8;}
.login-input {background: #a4dda4;}
.custom-checkbox {background: #969696;}
.custom-checkbox.checked {background: #004C02;}
.search {background: #a7d1a2;}
.tab-title.active:after,
.share .custom-checkbox.checked {background: #4eb051;}
.table-head {background: #2e9737;}
.table-wrap,
.dropdown .chart-title,
.full-list .table-wrap:nth-child(odd) {background: #f8f8f8;}
.full-list .table-wrap,
.table-wrap:nth-child(odd) {background: #f1f1f1;}
.add-photo {background: #ddd;}
.dropdown .dropdown .chart-title {background: #f2f2f2;}
.cat-box,
.example-btn,
.give-points-box .write-post-text:disabled {background: #f4f4f4;}
.third-place-col .stand,
.second-place-col .stand {background: #c9caca;}
.first-place-col .stand {background: #d3d3d3;}
.rotate .t-icon_arrow_rotate {background: rgba(255,255,255,0.8);}
.login-icons .icon-facebook {background: #2626a3;}
.number-wrap {background: #ef3535;}
.recognized .add-wrap {background: #e2efdf;}
.recognized .remove {background: #939393;}
.comment .user-posted .img-inner-wrap {background: #13bc57;}
.comment .title-points .comment-points {background: #52b055;}
.comment-part .minus {background: #ef0839;}

/* Colors */
.give,
.title,
.reco-btn,
.org-icon,
.table-head,
.login-desc,
.login-title,
.fb-dont-link,
.login-submit,
.catalog-title,
.number-notific,
.forgot-pass-btn,
.fb-login-submit,
.logo-second-part,
.place-col .place,
.to-remember-label,
.post-box .you-gave,
.lightbox-wrap .close,
.catalog-title .arrow,
.recognized .remove:before,
.login-icons .t-icon_point,
.login-icons .icon-facebook,
.toast-message,
.comment .title-points .comment-points {color: #fff;}
.logo,
.black,
.search,
.points-name,
.no-result-text,
.refresh-connect,
.add-photo-btn.active,
.light-btn .inner-btn,
.full-list .table-body,
.user-title .user-name,
.share .to-remember-label,
.add-photo .add-photo-btn,
.change-pass-input.white-box-input {color: #000;}
.login-input::-webkit-input-placeholder,
.search-icon,
.search::-webkit-input-placeholder,
.login-input::-webkit-input-placeholder {color: #4ea54e;}
.menu-item {color: #a4aba1;}
.menu-item.active {color: #58b253;}
.login-icons .t-icon_link {color: #a5d6a5}
.light-btn,
.white-box-title,
.light-btn .inner-btn:before {color: #4dae51;}
.post-info .points .t-icon_point {color: #51af51;}
.post-info .fb-share .t-icon_link_fb {color: #2d398a;}
.needs-to,
.whats-new,
.add-photo-btn,
.full-list .job,
.white-box-input,
.comment .author .place,
.quote-wrap .post-title,
.recognition-wrap .intro,
.linked-quote .image-title,
.category .cat-description,
.cat-box.disabled .cat-name,
.add-photo .add-photo-label,
.category .cat-organisation,
.profile-user .user-position,
.points-col.disabled .points-name,
.white-box-input::-webkit-input-placeholder,
.write-post-text::-webkit-input-placeholder,
.change-pass-input::-webkit-input-placeholder {color: #969696;}
.opened .catalog-title,
.opened .catalog-title .arrow {color: #4ca434;}
.category .cat-name {color: #343434;}
.to-favorite,
.user-menu {color: #a4a3a3;}
.post-info,
.user-title,
.person-title .user-position,
.quote-wrap .user-title .user-name {color: #8b8b8b;}
.org-icon.active {color: #006800;}
.to-next-lvl,
.cat-box .cat-icon,
.level .t-icon_level,
.example-btn .inner-btn:before {color: #a0a0a0;}
.full-list-btn,
.tab-title.active,
.level .t-icon_level.done,
.add-recognized .icon-plus,
.rotate .t-icon_arrow_rotate,
.refresh-connect .t-icon_refresh,
.add-photo-btn.active .t-icon_photo,
.add-photo .add-photo-btn .t-icon_photo {color: #4eb051;}
.tab-title, .config-title {color: #aaa;}
.save,
.doit,
.back,
.cancel,
.post-now,
.small-back {color: #c1e5be;}
.doit.disabled,
.save.disabled,
.cancel.disabled,
.post-now.disabled {color: #218e21;}
.info-row,
.info-row a,
.hints .white-box-desc {color: #333;}
.mark,
.linked .link,
.caption-link,
.info-row .icon,
.comment-part .plus,
.comment .star.tapped,
.comment .author .name,
.chart-title .t-icon_folder {color: #52b055;}
.info-row .phone,
.info-row .email,
.add-recognized .add,
.ranking-stand .name,
.recognized.add .text,
.points-col.active .points-name {color: #198e19;}
.comment-text,
.ranking-stand .points-number {color: #787878;}
.chart-title .t-icon_users {color: #c9c9c9;}
.points-block {color: #bababa;}
.points-block .on {color: #797979;}
.cat-box.disabled .cat-icon,
.add-photo-btn .t-icon_photo,
.points-col.disabled .t-icon_point {color: #d3d3d3;}
.cat-box.active .cat-icon,
.points-col.active .t-icon_point {color: #4faf51;}
.write-post-text:disabled::-webkit-input-placeholder {color: #bebebe;}
.login-input {color: #005600;}
.error-msg {color: #f20a37;}
.version {color: #50b052;}
.connection-icon {color: #d5d5d5;}
.connection-text {color: #a2a2a2;}
.quote-wrap .quote-icon {color: #cecece;}
.recognized .add-wrap .plus-icon {color: #add8ac;}
.comment .star {color: #c6e2c3;}

/* Border Colors */
.header {border-color: #2d872d;}
.login-submit,
.fb-login-submit,
.category .img-inner-wrap,
.full-list .table-body .table-col {border-color: #fff;}
.light-btn,
.two-light-btns .light-btn {border-color: #c9c9c9;}
.subtable,
.white-box-input {border-color: #eaeaea;}
.user-title,
.tab-header,
.points-wrap {border-color: #e6e6e6;}
.info-row,
.person-found {border-color: #dcdcdc;}
.post-box .you-gave:after {border-bottom-color: #1572b8;}
.post-box .you-gave:before {border-top-color: #1572b8;}
.full-list-btn {border-color: #4eb051;}
.full-list .table-head .table-col {border-color: #97cb9b;}
.footer-menu {border-color: #ebebeb;}
.custom-checkbox {border-color: #969696;}
.custom-checkbox.checked {border-color: #004C02;}
.share .custom-checkbox.checked {border-color: #4eb051;}
.whats-new {border-color: #c4c4c4;}
.quote-wrap .feed-box {border-color: #c3c3c3;}

/* Combinations */
.give,
.reco-btn {
	background: #3bade3;
	border-color: #989898;
}
.loader {
	background-color: #eaeaea;
	background-image: url(../img/tol_loader_gr_wh.gif);
}
.no-connection {
  background-color: #eaeaea;
}
.back-button {
  background: #fff;
  color: #50b052;
  border-color: #e6e6e6;
}