<div class="container">
  <div class="chart-box">
  	<div class="chart-row">
  		<div class="chart-title"><span class="t-icon_folder"></span>Management<span class="t-icon_menu2"></span></div>
  	</div>
  	<div class="chart-row">
  		<div class="chart-title"><span class="t-icon_folder"></span>Finance<span class="t-icon_menu2"></span></div>
  	</div>
  	<div class="chart-row opened">
  		<div class="chart-title"><span class="t-icon_folder"></span>Operations<span class="t-icon_menu2"></span></div>
  		<div class="dropdown">
	  		<div class="chart-row">
	  			<div class="chart-title"><span class="t-icon_folder"></span>Front desc<span class="t-icon_menu2"></span></div>
	  		</div>
	  		<div class="chart-row">
	  			<div class="chart-title"><span class="t-icon_folder"></span>Front desc<span class="t-icon_menu2"></span></div>
	  		</div>
	  		<div class="chart-row opened">
	  			<div class="chart-title"><span class="t-icon_folder"></span>Front desc<span class="t-icon_menu2"></span></div>
	  			<div class="dropdown">
	  				<div class="chart-row">
			  			<div class="chart-title"><span class="t-icon_folder"></span>Front desc<span class="t-icon_menu2"></span></div>
			  		</div>
	  			</div>
	  		</div>
  		</div>
  	</div>
  </div>
</div>