<div class="full-list is-admin">
  <div class="points-box">
  	<div class="points-header">
			<div class="arrow-prev arrow"><span class="t-icon_arrow_left"></span></div>
			<div class="arrow-next arrow"><span class="t-icon_arrow_right"></span></div>
			<h2 class="points-title">Employee of the month</h2>
		</div>
		<div class="points-table">
			<div class="table-head">
				<div class="table-col text-center first">Rank</div>
				<div class="table-col"><div class="name-head-wrap sorted">Name &amp; job title<span class="t-icon_sort_asc"></span></div></div>
				<div class="table-col text-center last">Points</div>
			</div>
      <div class="table-wrap">
	      <div class="table-body">
	        <div class="table-col text-center first">1</div>
	        <div class="table-col"><span class="name">Eduardo Phillips</span><span class="job">Head of F&amp;B</span></div>
	        <div class="table-col text-center last">56</div>
        </div>
      </div>
      <div class="table-wrap">
	      <div class="table-body">
	        <div class="table-col text-center first">1</div>
	        <div class="table-col"><span class="name">Eduardo Phillips</span><span class="job">Head of F&amp;B</span></div>
	        <div class="table-col text-center last">56</div>
        </div>
      </div>
      <div class="table-wrap">
	      <div class="table-body">
	        <div class="table-col text-center first">1</div>
	        <div class="table-col"><span class="name">Eduardo Phillips</span><span class="job">Head of F&amp;B</span></div>
	        <div class="table-col text-center last">56</div>
        </div>
      </div>
    </div>
	</div>
</div>