<div class="full-list is-admin" ng-show="listIsNotEmpty">
  <div class="points-box"
       ng-swipe
       ng-on-left="changeRanking('prev')"
       ng-on-right="changeRanking('next')">
  	<div class="points-header">
			<div class="arrow-prev arrow" 
           ng-fast-touch="changeRanking('prev')"
           ng-show="showPrevArrow"><span class="t-icon_arrow_left"></span></div>
			<div class="arrow-next arrow" 
           ng-fast-touch="changeRanking('next')"
           ng-show="showNextArrow"><span class="t-icon_arrow_right"></span></div>
			<h2 class="points-title">{{currentRanking.long_name}}</h2>
		</div>
    
		<div class="points-table">
			<div class="table-head">
				<div class="table-col text-center first">Rank</div>
				<div class="table-col"><div class="name-head-wrap sorted">Name &amp; job title
<!--            <span class="t-icon_sort_asc"></span>-->
          </div></div>
				<div class="table-col text-center last">Points</div>
			</div>
      
      <div class="table-wrap" ng-repeat="place in currentRanking.places">
	      <div class="table-body">
	        <div class="table-col text-center first">{{place.place}}</div>
	        <div class="table-col" ng-fast-touch="showProfile(place)">
            <span class="name">{{place.name}}</span><span class="job">{{place.product_header_name}}</span>
          </div>
	        <div class="table-col text-center last">{{place.points}}</div>
        </div>
      </div>


    </div>
	</div>
</div>