<div class="container profile-container" id="profile_container">
  <div class="tab-wrap" ng-show="isPostsShow">
    <div class="bottom_loader" id="profile_top_loader" style="display:none"></div>
  	<div class="feed-wrap" id="profile_feed" ng-class="(params.productId != userProductId)?'profile-posts-has-recobutton':''">
      
	  </div>
    <div class="bottom_loader" id="profile_loader" style="display:none"></div>
  </div>  
  <div class="tab-wrap" ng-show="isPointsShow">
  	<div class="points-box" ng-class="(params.productId != userProductId)?'profile-has-recobutton':''">
  		<div class="points-header" ng-show="currentPoint.long_name">
  			<div class="arrow-prev arrow" ng-fast-touch="changePoint('prev')" ng-show="showPrevArrow">
              <span class="t-icon_arrow_left"></span>
            </div>
  			<div class="arrow-next arrow" ng-fast-touch="changePoint('next')" ng-show="showNextArrow">
              <span class="t-icon_arrow_right"></span>
            </div>
  			<h2 class="points-title">{{currentPoint.long_name}}</h2>
  		</div>
      
      <div class="points-table profile_points_tables" 
             ng-show="point.points_current_period" 
             ng-repeat="point in points"
             ng-swipe
             ng-on-left="changePoint('prev')"
             ng-on-right="changePoint('next')"
             ng-class="{center: $index === pointIndex, right: $index > pointIndex, left: $index < pointIndex}">
  			<div class="table-head">
  				<div class="table-col first">Period</div>
  				<div class="table-col text-center">Level</div>
  				<div class="table-col text-center">Points</div>
			</div>

        <div class="table-wrap has-subtable"
             ng-class="{'opened': point.isMonthOpened}"
             ng-fast-touch="(!isEmptyObject(point.points_per_month)) ? point.isMonthOpened = !point.isMonthOpened : false">
          <div class="table-body">
            <div class="table-col first text-center">
              <span class="date">
                {{getMonth(point.points_current_period.month)}}
                <span ng-if="!isEmptyObject(point.points_per_month)" class="t-icon_arrow_down"></span>
              </span>
            </div>
            <div class="table-col text-center">
              <div class="level">
                <span class="t-icon_level" ng-show="maxLevel > 0" ng-class="{'done':point.current_level > 0}"></span>
                <span class="t-icon_level" ng-show="maxLevel > 1" ng-class="{'done':point.current_level > 1}"></span>
                <span class="t-icon_level" ng-show="maxLevel > 2" ng-class="{'done':point.current_level > 2}"></span>
                <span class="t-icon_level" ng-show="maxLevel > 3" ng-class="{'done':point.current_level > 3}"></span>
                <span class="t-icon_level" ng-show="maxLevel > 4" ng-class="{'done':point.current_level > 4}"></span>
              </div>
            </div>
            <div class="table-col text-center">{{::point.points_current_period.points}}
              <div class="to-next-lvl" ng-show="point.to_next_level">({{::point.to_next_level}} to next level)</div>
            </div>
            
          </div>
          
          <div class="subtable">
            <div class="table-body" ng-repeat="month in point.points_per_month">
              <div class="table-col first text-center"><span class="date">{{getMonth(month.month)}}</span></div>
              <div class="table-col text-center">
                <div class="level">
                  <span class="t-icon_level" ng-show="maxLevel > 0" ng-class="{'done':point.current_level > 0}"></span>
                  <span class="t-icon_level" ng-show="maxLevel > 1" ng-class="{'done':point.current_level > 1}"></span>
                  <span class="t-icon_level" ng-show="maxLevel > 2" ng-class="{'done':point.current_level > 2}"></span>
                  <span class="t-icon_level" ng-show="maxLevel > 3" ng-class="{'done':point.current_level > 3}"></span>
                  <span class="t-icon_level" ng-show="maxLevel > 4" ng-class="{'done':point.current_level > 4}"></span>
                </div>
              </div>
              <div class="table-col text-center">{{::month.points}}</div>
            </div>
          </div>
        </div>  
        
          <div class="table-wrap has-subtable" 
               ng-class="{'opened': point.isOpened}" 
               ng-show="::point.points_per_year"
               ng-fast-touch="(point.points_per_year.length > 1) ? point.isOpened = !point.isOpened : false">
          <div class="table-body">
            <div class="table-col first text-center">
              <span class="date">{{::point.points_per_year[0].year}}
                <span ng-if="point.points_per_year.length > 1" class="t-icon_arrow_down"></span> 
              </span>
            </div>
            <div class="table-col text-center">
              <div class="level">
                <span class="t-icon_level" ng-show="maxLevel > 0" ng-class="{'done':point.current_level > 0}"></span>
                <span class="t-icon_level" ng-show="maxLevel > 1" ng-class="{'done':point.current_level > 1}"></span>
                <span class="t-icon_level" ng-show="maxLevel > 2" ng-class="{'done':point.current_level > 2}"></span>
                <span class="t-icon_level" ng-show="maxLevel > 3" ng-class="{'done':point.current_level > 3}"></span>
                <span class="t-icon_level" ng-show="maxLevel > 4" ng-class="{'done':point.current_level > 4}"></span>
              </div>
            </div>
            <div class="table-col text-center">{{::point.points_per_year[0].points}}</div>
          </div>
            
          <div class="subtable">
            <div class="table-body" ng-repeat="year in point.points_per_year" ng-if="!$first">
              <div class="table-col first text-center"><span class="date">{{::year.year}}</span></div>
              <div class="table-col text-center">
                <div class="level">
                  <span class="t-icon_level" ng-show="maxLevel > 0" ng-class="{'done':point.current_level > 0}"></span>
                  <span class="t-icon_level" ng-show="maxLevel > 1" ng-class="{'done':point.current_level > 1}"></span>
                  <span class="t-icon_level" ng-show="maxLevel > 2" ng-class="{'done':point.current_level > 2}"></span>
                  <span class="t-icon_level" ng-show="maxLevel > 3" ng-class="{'done':point.current_level > 3}"></span>
                  <span class="t-icon_level" ng-show="maxLevel > 4" ng-class="{'done':point.current_level > 4}"></span>
                </div>
              </div>
              <div class="table-col text-center">{{::year.points}}</div>
            </div>
          </div>
            
        </div>
<!--        <div class="text-center"
             ng-hide="::userProductId == productId" 
             ng-fast-touch="givePoints({from_product_id: productId, 'from_product_name': product.name, 'from_product_image': product.image_url, point: currentPoint})">
          <div class="give-points give"><span class="t-icon_point"></span>Give points</div>
        </div>-->
  		</div>
      
           
  	</div>
  </div>
  <div class="tab-wrap" ng-show="isBioShow">
    <div class="bio-box" ng-class="(params.productId != userProductId)?'profile-has-recobutton':''">
<!--      <div class="info-row" ng-if="telephone.value">
        <span class="t-icon_phone icon"></span><a class="phone" href="tel:{{telephone.value}}">{{telephone.value}}</a>
      </div>
     <div class="info-row">
        <span class="t-icon_email icon"></span><a class="email" href="mailto:{{product.code}}">{{product.code}}</a>
      </div>-->
      <div class="info-row" 
           ng-repeat="bio in product.characteristics" 
           ng-if="::bio.short_name !== 'rate' && bio.short_name !== 'role'" 
           ng-fast-touch="showMap(bio)">
        <strong class="strong">{{::bio.long_name}}</strong><span ng-bind-html="::bio.value"></span>
      </div>
    </div>
  </div>
  
  <div class="tab-wrap" ng-show="isConfigShow">
    <div class="config-box">
      <div class="info-row" ng-fast-touch="goToChangePassword()">
        <span class="t-icon_password icon"></span><div class="config">Change Password</div>
      </div>
      <div class="info-row" ng-hide="isFBLinked" ng-fast-touch="loginToFb()">
        <span class="t-icon_link_fb icon"></span>
        <div class="config">
          <div>Link Facebook account</div>
<!--          <div class="config-title">{{getUserName()}}</div>-->
        </div>
      </div>
      <div class="info-row" ng-show="isFBLinked" ng-fast-touch="logoutToFb()">
        <span class="t-icon_unlink_fb icon"></span>
        <div class="config">
          <div>Unlink Facebook account</div>
          <div class="config-title">{{getFBName()}}</div>
        </div>
      </div>
      <div class="info-row" ng-fast-touch="changeOrganization()">
        <span class="t-icon_organization icon"></span>
        <div class="config">
          <div>Change organization</div>
          <div class="config-title">{{getHotelName()}}</div>
        </div>
      </div>
      <div class="info-row no-border" ng-fast-touch="logout()">
        <span class="t-icon_logout icon"></span><div class="config">Log Out</div>
      </div>
    </div>
  </div>  
</div>