<div style="margin-top: 6em">

  <div style="margin-top: 2em; text-align: center">
    <select style="background: #fff;width: 95%;font-size: 1em;margin: 0 0.5em" id="sql_db_name">
      <option value="recent_search_db">recent_search_db</option>
      <option value="recent_search_db_2">recent_search_db_2</option>
    </select>
    <button style="font-size:2em" ng-fast-touch="getTables()">Get all tables</button>
  </div>
  
  <div style="margin-top: 2em; text-align: center">
    <textarea id="sql_command" style="background: #fff;width: 95%;height: 15em;font-size: 1.5em;margin: 0 0.5em"></textarea>
    <button style="font-size:2em" ng-fast-touch="execute()">Execute</button>
  </div>

  <div style="width: 95%; overflow: scroll; margin-top: 2em">
    <table id="sql_result" style="width: 100%">
    
    </table>
  </div>
</div>